form {
    width: 80%;
    margin: 0 auto;
    border: 1pt solid gray;
    padding: 10px 20px;
}

p {
    width: 80%;
    margin: 0 auto;
    color: white;
    border: 1pt solid gray;
    border-bottom: 0;
    padding: 5px;
}

.container {
    margin-bottom: 30px;
}

label {
    margin-top: 12px;
}